* {
  margin: 0; }

a {
  display: inline-block;
  border-radius: 50%; }
  a .bottom, a .top {
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin: 2px; }
    a .bottom:hover, a .top:hover {
      border: 0.5em solid #e74c3c; }
      a .bottom:hover:after, a .top:hover:after {
        border-top: 0.5em solid #e74c3c;
        border-right: 0.5em solid #e74c3c; }
  a .bottom:after {
    content: '';
    display: inline-block;
    margin-top: 0.7em;
    margin-left: 1em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }
  a .top:after {
    content: '';
    display: inline-block;
    margin-top: 1.3em;
    margin-left: 1em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.navbar {
  position: absolute;
  bottom: 2%;
  display: flex; }

.mainPage {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center; }

.title {
  text-align: center;
  padding: 50px 0px;
  font-size: 50px;
  color: #30646e;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.secondPage {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center; }
  .secondPage .top-content {
    padding-top: 30px;
    font-size: 60px;
    text-align: center; }
  .secondPage .middle-content {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px; }
    .secondPage .middle-content .left, .secondPage .middle-content .right {
      width: 100%; }
      .secondPage .middle-content .left .subtitle, .secondPage .middle-content .right .subtitle {
        font-size: 50px;
        text-align: center; }
      .secondPage .middle-content .left .side-content, .secondPage .middle-content .right .side-content {
        margin: 55px;
        font-size: 30px;
        text-align: justify;
        color: #d32b2b; }
      .secondPage .middle-content .left .side-content1, .secondPage .middle-content .right .side-content1 {
        margin: 55px;
        font-size: 30px;
        text-align: justify;
        color: #42a842; }
    .secondPage .middle-content .center {
      width: 100%;
      height: 100%; }
      .secondPage .middle-content .center img {
        position: center;
        width: 100%;
        height: 90%; }
  .secondPage .bottom-content1 {
    height: 10%;
    background: #812222; }
  .secondPage .bottom-content2 {
    height: 10%;
    background: #42a842; }

.thirdPage {
  background: url("../images/benefits1.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .thirdPage .top-content3 {
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .thirdPage .top-content3 .btn {
      font-size: 50px;
      padding: 20px 50px;
      border-radius: 20px;
      color: #f78a9c;
      background: #f7e8eb;
      cursor: pointer;
      outline: none; }
    .thirdPage .top-content3 ul {
      padding: 20px;
      list-style: none;
      color: black; }
      .thirdPage .top-content3 ul li {
        padding: 5px;
        font-size: 40px;
        animation: shown 1.5s;
        text-align: center;
        animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.show {
  display: block; }

.hidden {
  display: none; }

@keyframes shown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.form-page {
  background: url("../images/formi.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center; }
  .form-page h2 {
    padding: 20px;
    text-align: center; }
  .form-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .form-page form input {
      border: 0px;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      background: rgba(54, 55, 59, 0.8);
      color: #BFD2FF;
      font-size: 17px;
      outline: none;
      padding: 10px;
      border-radius: 2px; }
      .form-page form input::placeholder {
        text-align: center;
        color: #a0a3af; }
    .form-page form .submitBtn {
      font-size: 17px;
      padding: 10px;
      border-radius: 2px;
      background: rgba(41, 61, 138, 0.8);
      color: white;
      border: 1px solid #ebe6e6;
      min-width: 10%; }
