* {
    margin: 0;
}

.mainPage {
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
.title {
    text-align: center;
    padding: 50px 0px;
    font-size: 50px;
    color: rgb(48, 100, 110);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.secondPage {

    display: flex;
    flex-direction: column;
    height: 100vh;
    .top-content {
        padding-top: 30px;
        font-size: 60px;
        text-align: center;
    }

    .middle-content {
        display: flex;
        margin-top: 30px;
        margin-bottom: 30px;
        .left, .right {
            width: 100%;
            .subtitle {
                font-size: 50px;
                text-align: center;
            }
            .side-content {
                margin: 70px;
                font-size: 30px;
                text-align: justify;
                color: rgb(211, 43, 43);
            }
            .side-content1 {
                margin: 70px;
                font-size: 30px;
                text-align: justify;
                color: rgb(66, 168, 66);
            }
        }
        .center {
            width: 100%;
            height: 100%;
                img{
                    position: center;
                    width: 100%;
                    height: 100%;
                }
        }
    }

    .bottom-content {
        height: 10%;
        background: rgb(129, 34, 34);
    }
    .bottom-content2 {
        height: 10%;
        background: rgb(66, 168, 66);
    }

}
.thirdPage {
    background: url('../images/benefits1.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: relative;

    .bottom-content3{
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 10%;

        background: rgb(240, 164, 223);
    }
    .top-content3 {
        position: absolute;
        top: 5%;
        right: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .btn {
            font-size: 50px;
            padding: 20px 50px ;
            border-radius: 20px;
            color: rgb(247, 138, 156);
            background: rgb(247, 232, 235);
            cursor: pointer;
            outline: none;
        }

        ul{
            padding: 20px;
            list-style: none;
            color: black;

            li {
                padding: 5px;
                font-size: 40px;
                animation: shown 1.5s;
                text-align: center;
            }
        }

    }

}

.show {
    display: block;
}
.hidden {
    display: none;
}

@keyframes shown {
    0% { opacity: 0; }
    100% { opacity: 1; }
}